.wend-container {
  padding: var(--spacing-200);
}

.wend-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.wend-surface {
  background-color: var(--color-surface-canvas);
  border-radius: var(--radius-medium);
}
