.wend-container {
  padding: var(--spacing-200);
}

.wend-stack > * + * {
  margin-top: var(--spacing-100);
}

.wend-surface {
  background-color: var(--color-surface-card);
  border-radius: var(--radius-medium);
}
